{% extends 'base.html' %}{% load static %}
{% block head %}
<title>Karyera</title>
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<link rel="stylesheet" href="{% static 'styles/add_post.css' %}">
{% endblock %}
{% block content %}
<h1>Post jo'natish</h1>
<div class="cards">
    {% for vacan in vacansy %}
    <form action="" method="POST">{% csrf_token %}
        <div class="card">
            <input type="text" hidden name="post_id" value="{{vacan.id}}">
            <div class="img">
                <img src="{{vacan.image}}" alt="">
            </div>
            <div class="body">
                {{vacan.data1|safe}}
            </div>
            <div class="btn">
                <button type="submit">Jo'natish</button>
            </div>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}
{% block script %} {% endblock %}