{% extends 'base.html' %}{% load static %}
{% block head %}
<title>Karyera</title>
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock %}
{% block content %}
<h1>Vakansiyalar ro'yxati</h1>
<div class="search">
    <form action="{% url 'all_vacan' %}" method="GET">
        <input type="text" name="search">
        <button type="submit">Qidirish</button>
    </form>
</div>
<div class="filter">
    <form action="{% url 'all_vacan' %}" method="POST">
        {% csrf_token %}
        <div class="itm">
            <label for="">Tuman(shahar)</label>
            <select name="district" id="">
                <option value="0">Tanlang</option>
                {% for item in district %}
                <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="itm">
            <label for="type">Turi</label>
            <select name="type" id="">
                <option value="0">Tanlang</option>
                {% for item in type %}
                <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="itm">
            <label for="">Kategoriya</label>
            <select name="category" id="">
                <option value="0">Tanlang</option>
                {% for item in category %}
                <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="itm">
            <label for="">Hash tags</label>
            <select name="hash_tag" id="" multiple>
                <option value="0">Tanlang</option>
                {% for item in hash_tag %}
                <option value="{{item.id}}">#{{item.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="btn">
            <button type="submit">Saralash</button>
        </div>
    </form>
</div>
<table>
    <thead>
<th>№</th>
<!-- <th>ID</th> -->
<th>Sarlavha</th>
<!-- <th>Mazmun</th> -->
<th>Tuman(shahar) / Manzil</th>
<!-- <th>Ish vaqti</th> -->
<!-- <th>Ish stavkasi / maosh</th> -->
<!-- <th>Telefon raqam / telegram manzil</th> -->
<!-- <th>Afzalliklar</th> -->
<!-- <th>Majburiyatlar</th> -->
<!-- <th>URL</th> -->
<!-- <th>Holati</th> -->
<!-- <th>Yuborilganligi</th> -->
<th>Turi / Kategoriya</th>
<th>Hash tags</th>
<th>Holat</th>
<!-- <th>Vaqt</th> -->
        </thead>
        <tbody>
            {% for vacan in vacansy %}
            <tr>
                <td>{{forloop.counter}}</td>
                <!-- <td> <a href="{% url 'vacan_detail' vacan.id %}">{{vacan.id}}</a> </td> -->
                <!-- <td><img src="{{vacan.image.url}}" alt="" style="width:120px; height:120px; object-fit:cover"></td> -->
                <td><a href="{% url 'vacan_detail' vacan.id %}">{{vacan.title}}</a></td>
                <!-- <td>{{vacan.sub_title|default:"-"}}<br>{{vacan.content|default:"-"}}</td> -->
                <td>{{vacan.district}}<br>{{vacan.address|default:"-"}} </td>
                <!-- <td>{{vacan.work_time|default:"-"}}</td> -->
                <!-- <td>{{vacan.rate|default:"-"}}<br>{{vacan.salary|default:"-"}}</td> -->
                <!-- <td>{{vacan.phone|default:"-"}}<br>{{vacan.phone2|default:""}}<br>{{vacan.telegram|default:"-"}}</td> -->
                <!-- <td>
                    <ul>
                       {% for cm in vacan.comfort.all %}
                          <li>{{cm}}</li>
                       {% endfor %}
                    </ul>
                </td> -->
                <!-- <td>
                    <ul>
                        {% for rq in vacan.requirements.all %}
                           <li>{{rq}}</li>
                        {% endfor %}
                    </ul>
                </td> -->
                <!-- <td>{{vacan.link|default:"-"}}</td> -->
                <!-- <td>{{vacan.date|default:"-"}}</td> -->
                <!-- <td>{{vacan.publish|default:"-"}}</td> -->
                <!-- <td>{{vacan.post|default:"-"}}</td> -->
                <td>{{vacan.type|default:"-"}}<br>{{vacan.category|default:"-"}}</td>
                <td>
                    <ul>
                        {% for ht in vacan.hash_tag.all %}
                           <li>#{{ht}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {% if vacan.publish and not vacan.post %}<div class="circle" style="background:blue"></div>
                    {% elif vacan.publish and vacan.post %}<div class="circle" style="background:green"></div>
                    {% elif not vacan.post and not vacan.publish %} <div class="circle" style="background:yellow"></div>
                    {% else %}<div class="circle" style="background:gray"></div>
                    {% endif %}
                
                </td>
                <!-- <td>{{vacan.date_time}}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %} {% endblock %}