{% extends 'base.html' %}{% load static %}
{% block head %}
    <title>Vakansiya qo'shish</title>
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<link rel="stylesheet" href="{% static 'styles/add_vacan.css' %}">

    {% endblock %}
{% block content %}

<h1>Yangi vakansiya joylash</h1>
{% if request.user.is_authenticated %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <img src="{{vacan.image.url}}" alt="">
    <div class="item">
        <div class="lable">
            <label for="">Rasm</label>
        </div>
        <div class="itm">
            <input type="file" name="image" value="{{vacan.image.url}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Sarlavha*</label>
        </div>
        <div class="itm">
            <input type="text" name="title" required value="{{vacan.title}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Qisqacha</label>
        </div>
        <div class="itm">
            <input type="text" name="sub_title" value="{{vacan.sub_title}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Mazmuni</label>
        </div>
        <div class="itm">
            <textarea name="content" cols="30" rows="10">{{vacan.content}}</textarea>
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Manzil</label>
        </div>
        <div class="itm">
            <input type="text" name="address"  value="{{vacan.address}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Ish vaqti</label>
        </div>
        <div class="itm">
            <input type="text" name="work_time"  value="{{vacan.work_time}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Maosh</label>
        </div>
        <div class="itm">
            <input type="text" name="salary"  value="{{vacan.salary}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Telefon raqam</label>
        </div>
        <div class="itm">
            <input type="text" name="phone"  value="{{vacan.phone}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Qo'shimcha telefon raqam</label>
        </div>
        <div class="itm">
            <input type="text" name="phone2"  value="{{vacan.phone2}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Telegram manzil</label>
        </div>
        <div class="itm">
            <input type="text" name="telegram"  value="{{vacan.telegram}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Qulayliklar <i>(Enter bilan bir nechta kiritishingiz mumkin)</i></label>
        </div>
        <div class="itm">
            <textarea name="comfort" id="" cols="30" rows="10">{% for ct in vacan.comfort.all %}{{ct}}{% endfor %}
            </textarea>
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Majburiyatlar <i>(Enter bilan bir nechta kiritishingiz mumkin)</i></label>
        </div>
        <div class="itm">
            <textarea name="requirements" id="" cols="30" rows="10">{% for ct in vacan.requirements.all %}{{ct}}{% endfor %}</textarea>
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Vakansiya uchun Link</label>
        </div>
        <div class="itm">
            <input type="text" name="link"  value="{{vacan.link}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Ish stavkasi(h)</label>
        </div>
        <div class="itm">
            <input type="text" name="rate"  value="{{vacan.rate}}">
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Kategoriyasi*</label>
        </div>
        <div class="itm">
            <select name="category" id="" required>
                {% for ct in category %}
                {% if ct.name == vacan.category.name %}
                <option value="{{ct.id}}" selected>{{ct.name}}</option>
                {% else %}
                <option value="{{ct.id}}">{{ct.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Turi*</label>
        </div>
        <div class="itm">
            <select name="type"  id="" required>
                {% for ct in type %}
                {% if ct.name == vacan.type.name %}
                <option value="{{ct.id}}" selected>{{ct.name}}</option>
                {% else %}
                <option value="{{ct.id}}">{{ct.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Hash taglar* <i>(CTRL bilan bir nechta tanlashingiz mumkin)</i></label>
        </div>
        <div class="itm">
            <select name="hash_tag" id="" multiple required>
                {% for ct in hash_tag %}
                {% if ct in vacan.hash_tag.all %}
                <option value="{{ct.id}}" selected>{{ct.name}}</option>
                {% else %}
                <option value="{{ct.id}}">{{ct.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="item">
        <div class="lable">
            <label for="">Tuman(shahar)</label>
        </div>
        <div class="itm">
            <select name="district" id="">
                {% for ct in district %}
                {% if ct.name == vacan.district.name %}
                <option value="{{ct.id}}" selected>{{ct.name}}</option>
                {% else %}
                <option value="{{ct.id}}">{{ct.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
   <div class="sub"><button type="submit">Saqlash</button></div>
</form>
 {% else %}
 <p class="info"><a href="{% url 'login' %}">Vakansiya joylash uchun ro'yxatdan o'ting</a></p>
 {% endif %}


{% endblock %}
{% block script %}

{% endblock %}