{% extends 'base.html' %}{% load static %}
{% block head %}
<title>Karyera</title>
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock %}
{% block content %}
<h1>Table</h1>
<table>
    <thead>
<th>№</th>
<th>ID</th>
<th>Sarlavha</th>
<th>Mazmun</th>
<th>Tuman(shahar) / Manzil</th>
<th>Ish vaqti</th>
<th>Ish stavkasi / maosh</th>
<th>Telefon raqam / telegram manzil</th>
<th>Afzalliklar</th>
<th>Majburiyatlar</th>
<th>URL</th>
<!-- <th>Holati</th> -->
<!-- <th>Yuborilganligi</th> -->
<th>Turi / Kategoriya</th>
<th>Hash tags</th>
<!-- <th>Vaqt</th> -->
        </thead>
        <tbody>
            {% for vacan in vacansy %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{vacan.id}}</td>
                <!-- <td><img src="{{vacan.image.url}}" alt="" style="width:120px; height:120px; object-fit:cover"></td> -->
                <td>{{vacan.title}}</td>
                <td>{{vacan.sub_title|default:"-"}}<br>{{vacan.content|default:"-"}}</td>
                <td>{{vacan.district}}<br>{{vacan.address|default:"-"}} </td>
                <td>{{vacan.work_time|default:"-"}}</td>
                <td>{{vacan.rate|default:"-"}}<br>{{vacan.salary|default:"-"}}</td>
                <td>{{vacan.phone|default:"-"}}<br>{{vacan.phone2|default:""}}<br>{{vacan.telegram|default:"-"}}</td>
                <td>
                    <ul>
                       {% for cm in vacan.comfort.all %}
                          <li>{{cm}}</li>
                       {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for rq in vacan.requirements.all %}
                           <li>{{rq}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{vacan.link|default:"-"}}</td>
                <!-- <td>{{vacan.date|default:"-"}}</td> -->
                <!-- <td>{{vacan.publish|default:"-"}}</td> -->
                <!-- <td>{{vacan.post|default:"-"}}</td> -->
                <td>{{vacan.type|default:"-"}}<br>{{vacan.category|default:"-"}}</td>
                <td>
                    <ul>
                        {% for ht in vacan.hash_tag.all %}
                           <li>#{{ht}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <!-- <td>{{vacan.date_time}}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %} {% endblock %}