{% extends 'base.html' %}{% load static %}
{% block head %}
<title>Karyera</title>
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock %}
{% block content %}
<h1>Vakansiya haqida ma'lumot</h1>
<div class="vacan">
    <!-- <div class="img">
        <img src="{{vacan.image.url}}" alt="">
    </div> -->
    <!-- <div class="detail">
        <div class="itm">
            <label for="">Sarlavha</label>
            <span>{{vacan.title}}</span>
        </div>
        {% if vacan.sub_title %}
        <div class="itm">
            <label for="">Qisqacha</label>
            <span>{{vacan.sub_title}}</span>
        </div>
        {% endif %}
        {% if vacan.content %}
        <div class="itm">
            <label for="">Mazmuni</label>
            <span>{{vacan.content}}</span>
        </div>
        {% endif %}
        {% if vacan.address %}
        <div class="itm">
            <label for="">Manzil</label>
            <span>{{vacan.address}}</span>
        </div>
        {% endif %}
        {% if vacan.work_time %}
        <div class="itm">
            <label for="">Ish vaqti</label>
            <span>{{vacan.work_time}}</span>
        </div>
        {% endif %}
        {% if vacan.salary %}
        <div class="itm">
            <label for="">Maosh</label>
            <span>{{vacan.salary}}</span>
        </div>
        {% endif %}
        {% if vacan.phone or vacan.phone2 %}
        <div class="itm">
            <label for="">Telefon:</label>
            <span>{{vacan.phone}}</span>
            <span>{{vacan.phone2}}</span>
        </div>
        {% endif %}
        {% if vacan.telegram %}
        <div class="itm">
            <label for="">Telegram</label>
            <span>{{vacan.telegram}}</span>
        </div>
        {% endif %}
        {% if vacan.comfort %}
        <div class="itm">
            <label for="">Qulayliklar</label>
            <ul>
            {% for cm in vacan.comfort.all %}
               <li>{{cm}}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
        {% if vacan.requirements %}
        <div class="itm">
            <label for="">Majburiyatlar</label>
            <ul>
            {% for cm in vacan.requirements.all %}
            <li>{{cm}}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if vacan.sub_title %}
        <div class="itm">
            <label for="">Qisqacha</label>
            <span>{{vacan.sub_title}}</span>
        </div>
        {% endif %}
        {% if vacan.link %}
        <div class="itm">
            <label for="">LINK</label>
            <span>{{vacan.link}}</span>
        </div>
        {% endif %}
        {% if vacan.rate %}
        <div class="itm">
            <label for="">Ish stavkasi(h)</label>
            <span>{{vacan.rate}}</span>
        </div>
        {% endif %}
        {% if vacan.category %}
        <div class="itm">
            <label for="">Kategoriyasi</label>
            <span>{{vacan.category}}</span>
        </div>
        {% endif %}
        {% if vacan.type %}
        <div class="itm">
            <label for="">Turi</label>
            <span>{{vacan.type}}</span>
        </div>
        {% endif %}
        {% if vacan.hash_tag %}
        <div class="itm">
            <label for="">Hash taglar</label>
            <ul>
                {% for cm in vacan.hash_tag.all %}
                <li>#{{cm}}</li>
                {% endfor %}
                </ul>
        </div>
        {% endif %}
        {% if vacan.district %}
        <div class="itm">
            <label for="">Tuman(shahar)</label>
            <span>{{vacan.district}}</span>
        </div>
        {% endif %}
    </div> -->
    <div class="modal">
        <img src="{{vacan_info.image}}" alt="">
        <br>
        {{vacan_info.data1|safe}}
    </div>
    <button><a href="{% url 'edit_vacan' vacan.id %}">Tahrirlash</a></button>
</div>
{% endblock %}
{% block script %} {% endblock %}