<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

   {% block head %} {% endblock %}
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="">
        </div>
        <ul>
            <li><a href="{% url 'all_vacan' %}">Barcha vakansiyalar</a></li>
            <li><a href="{% url 'sended' %}">Jo'natilgan vakansiyalar</a></li>
            <li><a href="{% url 'add_vacan' %}">Vakansiya qo'shish</a></li>
            <li><a href="{% url 'added' %}">Qo'shilgan vakansiyalar</a></li>
            <li><a href="{% url 'add_post' %}">POST</a></li>
            <li><a href="{% url 'login' %}">Kirish (Ro'yxatdan o'tish)</a></li>
            <li><a href="{% url 'logout' %}">Chiqish</a></li>
            <li>{{request.user}}</li>
        </ul>
    </nav>
</header>
<div class="container">
{% block content %}



{% endblock %}
</div>
{% block script %}
{% endblock %}
</body>
</html>