form{
    .item{
        display: grid;
        .lable{
            label{
                  font-weight: 600;
            }
            .exm{
                font-size: small;
                font-style: italic;
            }
        }
    }
    .sub{
        display: flex;
        justify-content: end;
        
    }
}