form .item {
  display: -ms-grid;
  display: grid;
}

form .item .lable label {
  font-weight: 600;
}

form .item .lable .exm {
  font-size: small;
  font-style: italic;
}

form .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
/*# sourceMappingURL=add_vacan.css.map */