.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    .card{
        border: 1px solid #888;
        border-radius: 7px;
        background-color: #fff;
        &:hover{
            transform: scale(1.01);
            box-shadow: 3px 3px  0 #eee ;
        }

.img{
    img{
        width:100%;
        height:250px;
        object-fit: cover;
    }
}
.body{
    padding: 10px;
}
.btn{
    border-top: 1px solid #888;
    display: flex;
    justify-content: end;
    button{
           padding: 10px 20px;
            border-radius:7px;
            width: 100%;
            margin:10px;
            color: #fff;
            border: 1px solid #3180ff;
            background: #3180ff;
            outline: none;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 2px;
            cursor: pointer;
            &:hover{
                color: #3180ff;  
                background: #fff;
            }
    }
}
    }
}