.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cards .card {
  border: 1px solid #888;
  border-radius: 7px;
  background-color: #fff;
}

.cards .card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 3px 3px  0 #eee;
          box-shadow: 3px 3px  0 #eee;
}

.cards .card .img img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .card .body {
  padding: 10px;
}

.cards .card .btn {
  border-top: 1px solid #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.cards .card .btn button {
  padding: 10px 20px;
  border-radius: 7px;
  width: 100%;
  margin: 10px;
  color: #fff;
  border: 1px solid #3180ff;
  background: #3180ff;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

.cards .card .btn button:hover {
  color: #3180ff;
  background: #fff;
}
/*# sourceMappingURL=add_post.css.map */