body {
  background: -webkit-gradient(linear, left top, right top, from(#57c1eb), to(#246fa8));
  background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
}

.login {
  padding: 5vw;
  background-color: #fff;
  max-width: 800px;
  margin: auto;
}

.login .inputs,
.login .register .inputs {
  height: 40px;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.login .inputs input,
.login .register .inputs input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0;
  border-bottom: 2px #1c3875 solid;
  outline: none;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #06266b;
  font-weight: 600;
}

.login .inputs label,
.login .register .inputs label {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #06266b;
  font-weight: bold;
}

.login .inputs input ~ label, .login .inputs input ~ label,
.login .register .inputs input ~ label,
.login .register .inputs input ~ label {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  font-size: 14px;
  color: #002c88;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login .inputs input:hover, .login .inputs input:focus, .login .inputs input:active, .login .inputs input:valid,
.login .register .inputs input:hover,
.login .register .inputs input:focus,
.login .register .inputs input:active,
.login .register .inputs input:valid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login .inputs img,
.login .register .inputs img {
  position: absolute;
  width: 30px;
  right: 5px;
  top: 15px;
  cursor: pointer;
}

.login .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.login .phone span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  color: #002c88;
  font-weight: bold;
}

.login .phone input {
  margin-top: 0;
}

.login .captcha {
  margin-bottom: 60px;
}

.login .captcha label {
  position: relative;
}
/*# sourceMappingURL=login.css.map */