@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body {
  background-image: url("../fon.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body img {
  max-width: 40vw;
}

body header {
  padding: 0 14vw;
  -webkit-box-shadow: 0 4px 5px #ccc;
          box-shadow: 0 4px 5px #ccc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav .logo img {
  height: 80px;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav ul li {
  list-style: none;
  margin: 7px 10px;
}

body header nav ul li a {
  padding: 7px 10px;
  text-decoration: none;
  color: #080079;
  font-weight: bold;
}

body header nav ul li a:hover {
  color: #080079;
  border-bottom: 1px solid #3181ff;
}

body .container {
  padding: 5vw 14vw;
}

body .container h1 {
  border-left: 5px solid #3180fff3;
  padding-left: 10px;
  margin-bottom: 40px;
}

body .container input, body .container select, body .container textarea {
  outline: none;
  padding: 10px;
  border: 1px solid #3180ff;
  width: 100%;
  border-radius: 7px;
  background-color: #fff;
  margin: 10px 0 30px 0;
}

body .container input:focus, body .container input:hover, body .container select:focus, body .container select:hover, body .container textarea:focus, body .container textarea:hover {
  -webkit-box-shadow: 0 0 4px #3180fff3;
          box-shadow: 0 0 4px #3180fff3;
}

body .container button {
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  color: #fff;
  border: 1px solid #3180ff;
  background: #3180ff;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

body .container button:hover {
  color: #3180ff;
  background: #fff;
}

body .container .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .search form input, body .container .search form button {
  margin: 0;
}

body .container .search form input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body .container .search form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body .container .filter {
  margin-top: 20px;
}

body .container .filter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .filter form label {
  font-weight: 600;
}

body .container table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

body .container table td ul li {
  list-style: none;
}

body .container table thead {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 85px;
  -webkit-box-shadow: 0 1px 0 #888;
          box-shadow: 0 1px 0 #888;
}

body .container table th {
  text-align: center;
  font-size: 16px;
}

body .container table * {
  font-size: 14px;
}

body .container table td, body .container table th {
  border: 1px solid #ddd;
  padding: 10px;
}

body .container table tr {
  background-color: #fff;
}

body .container table tr:nth-child(even) {
  background-color: #f9f9f9;
}

body .container table tr:hover {
  background-color: #eee;
}

body .container table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f9f9f9;
  color: #080079;
}

body .container tbody td a {
  text-decoration: none;
}

body .container tbody td a:hover {
  text-decoration: underline;
}

body .container tbody tr:hover {
  -webkit-box-shadow: 0 0 1px #3181ff;
          box-shadow: 0 0 1px #3181ff;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

body .container tbody tr td .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */