@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    transition: all .3s;
}

body{
  background-image: url('../fon.jpg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  img{
    max-width: 40vw;
  }
  header{
    padding: 0 14vw;
    box-shadow: 0 4px 5px #ccc;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo{
        img{
          height: 80px;
        }
      }
      ul{
        display: flex;
        li{
          list-style: none;
          margin: 7px 10px;
          a{
            padding: 7px 10px;
            text-decoration: none;
            color: #080079;
            font-weight: bold;
            &:hover{
              color: #080079;
              border-bottom: 1px solid #3181ff;
            }
          }
        }
      }
    }
  }
 
  .container{
    padding: 5vw 14vw;
    h1{
      border-left: 5px solid #3180fff3;
      padding-left: 10px;
      margin-bottom: 40px
    }
    input,select,textarea{
      outline: none;
      padding: 10px;
      border: 1px solid #3180ff;
      width: 100%;
      border-radius: 7px;
      background-color: #fff;
      margin: 10px 0 30px 0;
      &:focus, &:hover{
          box-shadow: 0 0 4px #3180fff3;
      }
      }
      button{
        padding: 10px 20px;
        border-radius:7px;
        margin-top: 20px;
        color: #fff;
        border: 1px solid #3180ff;
        background: #3180ff;
        outline: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 2px;
        cursor: pointer;
        &:hover{
            color: #3180ff;
            background: #fff;
        }

    }
    .search{
      form{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        input,button{
margin: 0;
        }
        input{
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        button{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
      }
    }
    .filter{
      margin-top: 20px;
      form{
        display: flex;
        align-items: start;
        justify-content: space-between;
        label{
          font-weight: 600;
        }
      }
    }
    table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
       td ul li{
         list-style: none;
       }
      thead{
        position: sticky;
        left: 0;
        top: 85px;
        box-shadow: 0 1px 0 #888;
      }
      th{
        text-align: center;
        font-size: 16px;
      }
      *{
font-size: 14px;
      }
    }
    table td, table th {
      border: 1px solid #ddd;
      padding: 10px;
    }
    table tr{
      background-color: #fff;
    }
    table tr:nth-child(even){background-color: #f9f9f9;}
    table tr:hover {background-color: #eee;}
    table th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #f9f9f9;
      color: #080079;
    }
    tbody{
      td a{
        text-decoration: none;
        &:hover{
        text-decoration: underline;
          
        }
      }
      tr{
        &:hover{
          box-shadow: 0 0 1px #3181ff;
          transform: scale(1.01);
        }
        td{
          .circle{
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
        }
      }
    }
  }
   
}