{% extends 'base.html' %}{% load static %}
{% block head %}
<title>Karyera</title>
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock %}
{% block content %}
<h1>Rostdan ham chiqishni xohlaysizmi</h1>
<div class="buttons">
    <div class="btn"><a href="{% url 'logout' %}?logout=true">Chiqish</a></div>
    <div class="btn"><a href="{% url 'all_vacan' %}">Bosh sahifaga qaytish</a></div>
</div>
{% endblock %}
{% block script %}

{% endblock %}